/*
 * main.css
 */

/* work sans font self-hosted */
@import '/fonts/work-sans.css';

html {
    /* allows the scrollbar to not interrupt flow */
    padding-right: calc(100vw - 100%);
}

body {
    background-color: #080813;
    text-align: center;
    color: #C0C0C0; 
    font-family: 'Work Sans', system-ui, 'Segoe UI', Roboto, 'DejaVu Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    line-height: 1.25;
    font-weight: 400;
}

.wrapper {
    text-align: left;
    margin: 0 auto;
    width: 95%;
}

@media only screen and (min-width: 1024px) {
    /* leave default font size unset on mobile */
    body {
        font-size: 18px;
    }
    /* leave default screen width on mobile */
    .wrapper {
        width: 1000px;
    }
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #2F6FCF;
}

a:hover {
    color: #F49B43;
}

a:active, a:focus {
    color: #DA4B33;
}

select, option, optgroup, input {
    color: #080813;
}

select, input, option, optgroup {
    font-size: 1.0em;
}

select, optgroup, input {
    font-weight: 600;
}

option {
    font-weight: 500;
}

select, input {
    margin-top: 0.4em;
}

select, option, optgroup, input[type="text"] {
    width: 100%;
    border: none;
}

header, .sun-yellow {
    color: #F2CE0B;
}

.heading, .banana {
    color: #BFA933;
}

.orange {
    color: #F49B43;
}

b, strong, .bold, .rust {
    color: #FF5715;
}

b, strong, .bold {
    font-weight: 700;
}

section, .section {
    margin-bottom: 1.0em;
}

li {
    margin-bottom: 0.3em;
}

footer {
    margin-top: 1em;
    text-align: right;
}

footer a {
    display: block;
    margin-bottom: 0.5em;
}

.heading {
    font-weight: 600;
}

header {
    font-size: 1.4em;
    text-align: center;
    font-weight: 500;
}

@media only screen and (min-width: 1024px){
    header {
        font-size: 3.0em;
    }
}

.mobile {
    display: revert;
}

.desktop {
    display: none;
}

@media only screen and (min-width: 1024px){
    .mobile {
        display: none;
    }
    .desktop {
        display: revert;
    }
}

::selection {
    background-color: #404060;
}

.small-help {
    font-weight: 300;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

.button-and-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
}

.button-and-label
:is(input[type=checkbox],
    input[type=radiobutton],
    input[type=button],
    input[type=submit],
    input[type=reset],
    button
) {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.button-and-label label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expand-zone-box,
.expand-zone-body,
.expand-zone-default {
    display: none;
}

.expand-zone-default {
    margin-top: 10px;
    margin-left: 15px;
}

.expand-zone-box:checked ~ label .expand-zone-body {
    display: block;
}

.expand-zone-box:not(:checked) ~ label .expand-zone-default {
    display: block;
}
