/*
 * main.css
 */

html {
    /* allows the scrollbar to not interrupt flow */
    padding-right: calc(100vw - 100%);
}

body {
    background-color: #080813;
    text-align: center;
    color: #C0C0C0; 
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.25;
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover {
    color: #4F8FFF;
}

a:active, a:focus {
    color: #DA4B33;
}

select, option, section > input {
    font-size: 36px;
}

@media only screen and (min-width: 1024px){
    select, option, section > input {
        font-size: 18px;
    }
}

select, option {
    background-color: #C0C0C0;
    width: 100%;
    color: #080813;
    border: none;
}

select, section > input {
    margin-top: 0.4em;
    margin-bottom: 1.0em;
}

b, strong {
    color: #F49B43;
}

section {
    margin-bottom: 1.0em;
}

li {
    margin-bottom: 0.3em;
}

footer {
    margin-top: 1em;
    text-align: right;
}

footer a {
    display: block;
    margin-bottom: 0.5em;
}

header, .heading {
    color: #F49B43;
    font-weight: 600;
}

header {
    font-size: 64px;
    text-align: center;
}

::selection {
    background-color: #404060;
}

.wrapper {
    text-align: left;
    width: 900px;
    margin: 0 auto;
}

.small-help {
    font-weight: 300;
    font-size: 16px;
}

.hidden {
    display: none;
}

.button-and-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
}

.button-and-label
:is(input[type=checkbox],
    input[type=radiobutton],
    input[type=button],
    input[type=submit],
    input[type=reset],
    button
) {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.button-and-label label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expand-zone-box,
.expand-zone-body,
.expand-zone-default {
    display: none;
}

.expand-zone-default {
    margin-top: 10px;
    margin-left: 15px;
}

.expand-zone-box:checked ~ label .expand-zone-body {
    display: block;
}

.expand-zone-box:not(:checked) ~ label .expand-zone-default {
    display: block;
}
