@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('work-sans/normal-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('work-sans/normal-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('work-sans/normal-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('work-sans/normal-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('work-sans/normal-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('work-sans/normal-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('work-sans/normal-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('work-sans/normal-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('work-sans/normal-900.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('work-sans/italic-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('work-sans/italic-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('work-sans/italic-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('work-sans/italic-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('work-sans/italic-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('work-sans/italic-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('work-sans/italic-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('work-sans/italic-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('work-sans/italic-900.woff2') format('woff2');
}
